<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.haoai.medixhub.ctkb.dao.CommonInterventionMapper">
    <cache-ref namespace="org.haoai.medixhub.ctkb.dao.CommonInterventionMapper"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.haoai.medixhub.ctkb.entity.CommonIntervention">
        <id column="id" property="id" />
        <result column="intervention_concept_id" property="interventionConceptId" />
        <result column="intervention_concept_name" property="interventionConceptName" />
        <result column="criteria_concept_id" property="criteriaConceptId" />
        <result column="criteria_concept_name" property="criteriaConceptName" />
        <result column="criteria_domain" property="criteriaDomain" />
        <result column="include" property="include" />
        <result column="concept_count" property="conceptCount" />
        <result column="total_count" property="totalCount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, intervention_concept_id, intervention_concept_name, criteria_concept_id, criteria_concept_name, criteria_domain, include, concept_count, total_count
    </sql>

</mapper>
