<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.haoai.medixhub.ctkb.dao.CriterionRankMapper">
    <cache-ref namespace="org.haoai.medixhub.ctkb.dao.AllCriteriaMapper"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.haoai.medixhub.ctkb.entity.CriterionRank">
        <id column="id" property="id" />
        <result column="concept_id" property="conceptId" />
        <result column="cri_count" property="criCount" />
        <result column="rank_no" property="rankNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, concept_id, cri_count, rank_no
    </sql>

</mapper>
